:root {
  --body-background: #deecee;
  --title-color: #181d31;
  --second-title-color: #181d31bb;
  --app-color: rgb(240, 233, 210);
  --btn-color: #e9dbb5d5;
  --form-color: #678983;
  --shadow: rgba(0, 0, 0, 0.2);
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-background);
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: var(--body-background);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 3px;
  padding: 15px 30px;
  text-transform: uppercase;
}

.header-back {
  align-items: center;
  background-color: var(--form-color);
  display: flex;
  margin: 20px 0 40px;
  position: relative;
  left: -15%;
}

.sticker {
  border-bottom: 15px solid var(--title-color);
  border-left: 5px solid transparent;
  bottom: 43px;
  position: absolute;
  right: 90px;
  width: 50px;
}

.stk1 {
  background-color: transparent;
  border-bottom: 11px solid rgba(240, 233, 210, 0.8);
  border-left: 10px solid transparent;
  bottom: 40px;
  position: absolute;
  right: 80px;
  width: 40px;
}

.triangle-left {
  border-bottom: 25px solid transparent;
  border-left: 50px solid var(--body-background);
  border-top: 25px solid transparent;
}

.to-do-app {
  background-color: var(--app-color);
  border: 10px solid var(--btn-color);
  border-radius: 10px;
  box-shadow: 5px 5px 15px var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 450px;
  padding: 20px;
  position: relative;
  width: 400px;
}

.btn {
  background-image: linear-gradient(var(--app-color) 10%, var(--btn-color));
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 10px;
  letter-spacing: 3px;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
}

.btn:hover {
  background-image: linear-gradient(var(--app-color), #dfd7bf);
}

.large-btn {
  align-self: center;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
  color: var(--second-title-color);
  font-size: 13px;
  font-weight: 600;
  justify-self: center;
  opacity: 0.9;
  padding: 15px;
  width: 50%;
}

.close-task-form-btn {
  background: none;
  border: none;
  color: var(--btn-color);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  width: 50px;
}

.task-form {
  background-color: var(--form-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-between;
  left: 50%;
  overflow: auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.task-form-header {
  display: flex;
  justify-content: flex-end;
}

.task-form-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.task-form-footer {
  display: flex;
  justify-content: center;
}

.task-form-label,
#title-input,
#date-input,
#description-input {
  display: block;
}

.task-form-label {
  color: var(--body-background);
  font-weight: 400;
  letter-spacing: 4px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

#title-input,
#date-input,
#description-input {
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  opacity: 0.9;
  padding: 10px;
  width: 100%;
}

#title-input:focus,
#date-input:focus,
#description-input:focus {
  outline: 4px solid rgba(0, 0, 0, 0.1);
}

#confirm-close-dialog {
  border: none;
  box-shadow: 2px 3px 5px var(--shadow);
  padding: 15px;
  margin: 20px auto;
  border-radius: 15px;
  opacity: 0.92;
}

.confirm-close-dialog-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.discard-message-text {
  color: var(--second-title-color);
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-top: 10px;
  text-align: center;
}

#tasks-container {
  height: 100%;
  overflow-y: auto;
}

.task {
  background-color: #6789834c;
  border-radius: 10px;
  margin: 10px 0;
  letter-spacing: 1.5px;
  padding: 20px 20px 10px;
}

.task p {
  font-weight: 300;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.task-label {
  color: #181d31bb;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

footer {
  font-size: 11px;
  letter-spacing: 1.5px;
  line-height: 1.5;
  margin: 40px auto 20px;
  opacity: 0.6;
  padding: 20px;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-weight: 500;
  color: var(--title-color);
}

@media (min-width: 576px) {
  .to-do-app,
  .task-form {
    width: 500px;
    height: 550px;
  }

  .task-form-label {
    font-size: 1rem;
  }

  #title-input,
  #date-input {
    height: 2rem;
  }

  #title-input,
  #date-input,
  #description-input {
    padding: 15px;
    margin-bottom: 20px;
  }
}
